<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ComentarioWSPortBinding" />
                <binding name="ModificacionWSPortBinding" />
                <binding name="EquipoUsuarioWSPortBinding" />
                <binding name="EquipoWSPortBinding" />
                <binding name="ActividadUsuarioWSPortBinding" />
                <binding name="tableroUsuarioWSPortBinding" />
                <binding name="tableroEquipoWSPortBinding" />
                <binding name="TableroWSPortBinding" />
                <binding name="ModuloWSPortBinding" />
                <binding name="subActividadWSPortBinding" />
                <binding name="ActividadWSPortBinding" />
                <binding name="UsuarioWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/UsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
                contract="UsuarioWS.UsuarioWS" name="UsuarioWSPort" />
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/TableroWS"
                binding="basicHttpBinding" bindingConfiguration="TableroWSPortBinding"
                contract="TableroWS.TableroWS" name="TableroWSPort" />
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/ModificacionWS"
                binding="basicHttpBinding" bindingConfiguration="ModificacionWSPortBinding"
                contract="ModificacionWS.ModificacionWS" name="ModificacionWSPort" />
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/tableroUsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="tableroUsuarioWSPortBinding"
                contract="tableroUsuarioWS.tableroUsuarioWS" name="tableroUsuarioWSPort" />
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/ModuloWS"
                binding="basicHttpBinding" bindingConfiguration="ModuloWSPortBinding"
                contract="ModuloWS.ModuloWS" name="ModuloWSPort" />
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/ActividadWS"
                binding="basicHttpBinding" bindingConfiguration="ActividadWSPortBinding"
                contract="ActividadWS.ActividadWS" name="ActividadWSPort" />
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/ActividadUsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="ActividadUsuarioWSPortBinding"
                contract="ActividadUsuarioWS.ActividadUsuarioWS" name="ActividadUsuarioWSPort" />
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/subActividadWS"
                binding="basicHttpBinding" bindingConfiguration="subActividadWSPortBinding"
                contract="subActividadWS.subActividadWS" name="subActividadWSPort" />
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/EquipoWS"
                binding="basicHttpBinding" bindingConfiguration="EquipoWSPortBinding"
                contract="EquipoWS.EquipoWS" name="EquipoWSPort" />
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/ComentarioWS"
                binding="basicHttpBinding" bindingConfiguration="ComentarioWSPortBinding"
                contract="ComentarioWS.ComentarioWS" name="ComentarioWSPort" />
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/tableroEquipoWS"
                binding="basicHttpBinding" bindingConfiguration="tableroEquipoWSPortBinding"
                contract="tableroEquipoWS.tableroEquipoWS" name="tableroEquipoWSPort" />
            <endpoint address="http://jorgenorza.ga:8080/ProyectoFinalWS/EquipoUsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="EquipoUsuarioWSPortBinding"
                contract="EquipoUsuarioWS.EquipoUsuarioWS" name="EquipoUsuarioWSPort" />
        </client>
    </system.serviceModel>
</configuration>